@font-face { 
    font-family: "Abel";
    src: url(../font/Abel-Regular.ttf) format("truetype");
}

@font-face { 
    font-family: "Inconsolata";
    src: url(../font/Inconsolata-Regular.ttf) format("truetype");
}

@font-face { 
    font-family: "Merienda One";
    src: url(../font/MeriendaOne-Regular.ttf) format("truetype");
}

html, body {
    height: 100%;
}

body {
    background-color: #0c0c0c;
    color: white;

    user-select: none;
}

main,
footer {
    padding: 42px;
}

main {
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    margin-top: 5%;
    font-size: 90pt;
    font-family: 'Merienda One', cursive;
    margin-bottom: 2rem;
    padding-left: 200px;

    transition: all 0.1s ease;
}

h1::after {
    content: '';
    position: relative;
    right: 29px;
    bottom: -65px;
    display: inline-block;
    width: 200px;
    height: 100px;
    background: url(../img/tail.png) no-repeat bottom;
    background-size: contain;

    transition: all 0.2s ease-out;
}

h2 {
    font-size: 50pt;
    font-family: 'Abel', sans-serif;
    letter-spacing: 10px;

    transition: all 0.1s ease;
}

.outline_container {
    position: absolute;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding: 20px;

    pointer-events: none;
}

.outer_outline {
    box-sizing: border-box;

    height: 100%;

    border: 2px solid white;
    padding: 2px;
}

::selection {
    background-color: silver;
}

div.hidden {
    position: absolute;
    right: 32px;
    top: 0;

    font-family: 'Inconsolata', monospace;
    color: #0c0c0c;

    user-select: text;
    cursor: default;
}

p {
    font-family: 'Inconsolata', monospace;
}

p.first,
p.second {
    transition: all 0.1s ease;
}

p.first {
    padding-left: 21rem;
    font-size: 40pt;
    color: #aaa;
}

p.second {
    margin-top: 0.5rem;
    padding-left: 32rem;
    font-size: 20pt;
    color: #333;
}

a.author_link {
    text-decoration: none;
    color: white;
    font-size: 24pt;
    font-family: 'Inconsolata', monospace;
}

a.author_link:hover > span {
    color: #aaa;
}

a.author_link:active > span {
    text-decoration: underline;
    color: #777;
}

p.about_link {
    text-decoration: none;
    cursor: pointer;
    color: #777;
    font-size: 24pt;
    font-family: 'Inconsolata', monospace;
}

p.about_link:hover {
    color: #555;
}

p.about_link:active {
    text-decoration: underline;
    color: #777;
}

div.top {
    padding-bottom: 5rem;
}

div.bottom {
    padding-bottom: 20rem;
}

@media screen and (max-width: 1065px) {
    h1 {
        font-size: 60pt;
        padding-left: 0;
    }
    h1::after {
        right: 20px;
        bottom: -30px;
        width: 100px;
        height: 50px;
    }
    h2 {
        font-size: 40pt;
    }
}

@media screen and (max-width: 735px) {
    h2 {
        font-size: 20pt;
    }

    p.first,
    p.second {
        padding-left: 0;
        text-align: right;
    }

    p.second {
        padding-right: 2rem;
    }
}

@media screen and (max-width: 578px) {
    h1::after {
        right: 18px;
        bottom: -15px;
        width: 50px;
        height: 30px;
    }
}

@media screen and (max-width: 525px) {
    h1::after {
        right: 15px;
        bottom: 0px;
        width: 1px;
        height: 1px;
    }
}

@media screen and (max-width: 510px) {
    h1::after {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 40pt;
    }
    h2 {
        font-size: 15pt;
    }
    p.first {
        font-size: 30pt;
    }
    p.second {
        margin: 0;
        padding-right: 1rem;
        font-size: 15pt;
    }
    a.author_link,
    p.about_link {
        font-size: 15pt;
    }
}